.section-order {
    padding: 66px 18px 302px 30px;
}

.section-order__container {
    position: relative;
    .container ();
}

.section-order__wrapper-content {
    width: 1025px;
}

.section-order__header-content {
    padding: 76px 0 56px 58px;

    position: relative;
    overflow: hidden;

    min-height: 386px;
    
    background-color: @dark-gray;

    border-radius: 40px;
}

.section-order__wrapper-text {
    width: 500px;
}

.section-order__header-title {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;

    line-height: 95.7%;
    letter-spacing: 3%;

    margin: 0;
    margin-bottom: 22px;
    
    color: @white;

    span {
        color: @orange; 
        font-weight: bold; 
    }
}

.section-order__header-text {
    width: 356px;

    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    color: @white;

    margin: 0;
    margin-bottom: 14px;
}

.section-order__header-btn {
    cursor: pointer;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;

    border: 0;
    border-radius: 15px;

    padding: 12px 43px 13px 48px;

    background-color: @orange;
    color: @white;

    &:hover {
        background-color: #a16c2e;
    }
}

.section-order__header-img {
    position: absolute;
    top: -40px;
    right: -100px;
}

// Меню 

.section-order__wrapper-navigation {
    width: 1025px;

    padding-top: 46px;
    
    display: flex;
    align-items: flex-start
}

.section-order__wrapper-title {
    margin: 0;
    margin-right: 110px;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.section-order__wrapper-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 19px;
    row-gap: 20px;

    .reset-styles-ol ();
    margin: 0;
    margin-right: 47px;
    padding: 0;

    li:nth-child(n+5) {
        display: none;
    }
}

.section-order__nav-button {
    position: relative;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

    cursor: pointer;
    
    color: @black;
    background-color: @white;

    border: 1px solid @white;
    border-radius: 25px;

    padding: 9px 16px 9px 55px;

    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

.section-order__nav-button--active {
    border-color: @black;
}

.section-order__nav-icon {
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 3px;
    

    padding: 6px;

    width: 40px;
    height: 40px;
    background-color: @gray;

    border-radius: 50px;
}

.section-order__button-open {
    border: 0;

    margin-top: 10px;

    background-color: @transparent;
    color: @orange;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

    cursor: pointer;
}

.section-order__card-list {
    .reset-styles-ol ();
    margin: 0;
    margin-top: 57px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    width: 1024px;
}

.section-order__hidden {
    display: none;
}


.section-order__card-item {
    width: 498px;

    display: flex;
    justify-content: space-between;

    border-radius: 30px;
    
    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

.section-order__card-img {
    border-radius: 30px;
    display: flex;
}

.section-order__product-wrapper {
    position: relative;

    width: 289px;

    padding: 49px 75px 0 23px;
}

.section-order__product-name {
    margin: 0;
    margin-bottom: 19px;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;

    line-height: 94.7%;

    color: @black;
}

.section-order__product-price {
    color: @green;

    margin: 0;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.section-order__add-button {
    position: absolute;
    bottom: 21px;
    right: 32px;

    width: 70px;
    height: 70px;

    cursor: pointer;

    background-color: @transparent;

    border: 0;
    border-radius: 20px;

    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

.section-order__cart {
    position: fixed;

    top: 80px;
    right: 50px;

    width: 428px;
    max-height: 500px;
    overflow-y: auto;

    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);

    padding: 66px 10px 20px 10px;
}

.section-order__title-cart {
    margin: 0;
    margin-right: 110px;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

// .section-order__add-product-item {
//     position: relative;

//     display: flex;
//     align-items: center;

//     column-gap: 20px;

//     width: 306px;

//     padding: 10px;
//     margin-top: 10px;

//     border-radius: 20px;
//     background-color: @gray;
// }

.section-order__img-cart {
    border: 1px solid @white;
    width: 89px;
    height: 86px;
}


.section-order__wrapper-text-card {
    margin-left: 20px;
    margin-top: 13px;
}

.section-order__product-card-wrapper {
    display: flex;

    padding: 17px;
    margin: 0 auto;
    margin-bottom: 39px;

    width: 370px;


    border-radius: 20px;

    background-color: @gray;

    position: relative;
}

.section-order__element-name {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

    margin: 0;
}

.section-order__element-price {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;

    margin: 0;

    color: @green;
}

.section-order__wrapper-btn-add-remove {
    position: absolute;

    display: flex;
    align-items: center;
    column-gap: 8px;

    width: 100px;
    height: 50px;

    right: 20px;
    bottom: 0;
}

.section-order__button-add-remove {
    width: 30px;
    height: 30px;

    border: 0;
    border-radius: 8px;

    cursor: pointer;

    background-color: @white;

    img {
        color: @black;
    }
}

// .section-order__add-button-plus {
    
// }

.section-order__quantity-product {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}