.section-order {
    padding: 66px 18px 302px 140px;
}

.section-order__container {
    .container ();
}

.section-order__wrapper-content {
    width: 1025px;
}

.section-order__header-content {
    padding: 76px 0 56px 58px;

    position: relative;
    overflow: hidden;

    min-height: 386px;
    
    background-color: @dark-gray;

    border-radius: 40px;
}

.section-order__wrapper-text {
    width: 500px;
}

.section-order__header-title {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;

    line-height: 95.7%;
    letter-spacing: 3%;

    margin: 0;
    margin-bottom: 22px;
    
    color: @white;

    span {
        color: @orange; 
        font-weight: bold; 
    }
}

.section-order__header-text {
    width: 356px;

    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    color: @white;

    margin: 0;
    margin-bottom: 14px;
}

.section-order__header-btn {
    cursor: pointer;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;

    border: 0;
    border-radius: 15px;

    padding: 12px 43px 13px 48px;

    background-color: @orange;
    color: @white;

    &:hover {
        background-color: #a16c2e;
    }
}

.section-order__header-img {
    position: absolute;
    top: -40px;
    right: -100px;
}

// Меню 

.section-order__wrapper-navigation {
    width: 1025px;

    padding-top: 46px;
    
    display: flex;
    align-items: flex-start
}

.section-order__wrapper-title {
    margin: 0;
    margin-right: 110px;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.section-order__wrapper-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 19px;
    row-gap: 20px;

    .reset-styles-ol ();
    margin: 0;
    margin-right: 47px;
    padding: 0;

    li:nth-child(n+5) {
        display: none;
    }
}

// .section-order__wrapper-list--hidden {
//     display: none;
// }

.section-order__nav-button {
    position: relative;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

    cursor: pointer;
    
    color: @black;
    background-color: @white;

    border: 1px solid @white;
    border-radius: 25px;

    padding: 9px 16px 9px 55px;

    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

.section-order__nav-button--active {
    border-color: @black;
}

.section-order__nav-icon {
    overflow: visible;
    position: absolute;
    top: 3px;
    left: 3px;
    

    padding: 6px;

    width: 40px;
    height: 40px;
    background-color: @gray;

    border-radius: 50px;
}

.section-order__button-open {
    border: 0;

    background-color: @transparent;
    color: @orange;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;

    cursor: pointer;
}

.section-order__card-list {
    .reset-styles-ol ();
    margin: 0;
    margin-top: 57px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    width: 1024px;
}

.border {
    background-color: @gray;
}

.section-order__card-item {
    width: 498px;

    display: flex;

    border-radius: 30px;
    
    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

.section-order__card-img {
    border-radius: 30px;
    display: flex;
}

.section-order__pizza-wrapper {
    position: relative;

    padding: 49px 75px 0 23px;
}

.section-order__pizza-name {
    margin: 0;
    margin-bottom: 19px;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;

    line-height: 94.7%;

    color: @black;
}

.section-order__pizza-price {
    color: @green;

    margin: 0;

    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.section-order__add-button {
    position: absolute;
    bottom: 21px;
    right: 32px;

    width: 70px;
    height: 70px;

    cursor: pointer;

    background-color: @transparent;

    border: 0;
    border-radius: 20px;

    box-shadow: -1px 1px 8px 3px rgba(57, 56, 56, 0.26);
}

// .section-order__cart {

// }